<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.equipment_use_historyMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.model.equipment_use_history">
    <id column="eId" jdbcType="BIGINT" property="eid" />
    <result column="equipmentId" jdbcType="BIGINT" property="equipmentid" />
    <result column="applyTime" jdbcType="INTEGER" property="applytime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sys_equipment_use_history
    where eId = #{eid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.example.demo.model.equipment_use_history">
    insert into sys_equipment_use_history (eId, equipmentId, applyTime
      )
    values (#{eid,jdbcType=BIGINT}, #{equipmentid,jdbcType=BIGINT}, #{applytime,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.model.equipment_use_history">
    update sys_equipment_use_history
    set equipmentId = #{equipmentid,jdbcType=BIGINT},
      applyTime = #{applytime,jdbcType=INTEGER}
    where eId = #{eid,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select eId, equipmentId, applyTime
    from sys_equipment_use_history
    where eId = #{eid,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select eId, equipmentId, applyTime
    from sys_equipment_use_history
  </select>
</mapper>