<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.prescription_listMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.model.prescription_list">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="rId" jdbcType="BIGINT" property="rid" />
    <result column="fId" jdbcType="BIGINT" property="fid" />
    <result column="num" jdbcType="DOUBLE" property="num" />
  </resultMap>
  <resultMap id="prise" type="com.example.demo.Entry.prise">
    <result column="price" jdbcType="DOUBLE" property="price"/>
    <result column="num" jdbcType="DOUBLE" property="num"/>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sys_prescription_list
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.example.demo.model.prescription_list">
    insert into sys_prescription_list (id, rId, fId, num
      )
    values (#{id,jdbcType=BIGINT}, #{rid,jdbcType=BIGINT}, #{fid,jdbcType=BIGINT}, #{num,jdbcType=DOUBLE}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.model.prescription_list">
    update sys_prescription_list
    set rId = #{rid,jdbcType=BIGINT},
      fId = #{fid,jdbcType=BIGINT},
      num = #{num,jdbcType=DOUBLE}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="accout" parameterType="java.lang.Long" resultMap="prise">
    SELECT fda.price,pre.num
    FROM sys_prescription_list as pre,sys_receptor as receptor,sys_patient as patient,sys_fda as fda
    WHERE pre.rId=receptor.id AND patient.id=receptor.uId AND patient.medicare=#{medicare,jdbcType=BIGINT} AND fda.id=pre.fId
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, rId, fId, num
    from sys_prescription_list
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="findByRid" parameterType="java.lang.Long" resultMap="BaseResultMap">
     select id, rId, fId, num
    from sys_prescription_list
    where rId = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, rId, fId, num
    from sys_prescription_list
  </select>
</mapper>