<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.departmentMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.model.department">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="department" jdbcType="VARCHAR" property="department" />
    <result column="describe" jdbcType="VARCHAR" property="describe" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_department
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.demo.model.department">
    insert into sys_department (id, department,  `describe`
      )
    values (#{id,jdbcType=INTEGER}, #{department,jdbcType=VARCHAR}, #{describe,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.model.department">
    update sys_department
    set department = #{department,jdbcType=VARCHAR},
      describe = #{describe,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, department, `describe`
    from sys_department
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, department, `describe`
    from sys_department
  </select>
</mapper>